# Ignore compiled executable
VoleMachineSimulator.exe
 
# Ignore build artifacts
*.o
*.obj
*.a
*.so
*.dSYM/
*.dll
*.pdb
*.lib
*.dylib

# Ignore VSCode settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore temporary files from editors
*.swp
*.swo

# Ignore logs
*.log
*.tmp

# Ignore test results
/tests/test_results.txt

# Ignore program input/output files
*.out
